/*
Theme Name: The Bagel Theme
Theme URI: http://sugermansbagels.com/
Description: sugermansbagels.com Theme
Version: 1.0
Author: CALIPER

*/
/* Begin Typography & Colors */
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}
body {
  background: white;
  font-family: 'Oswald', sans-serif;
}
#wrapper {
  margin: 0 auto;
  padding: 0 50px 40px;
  width: 960px;
}
#content {
  width: 960px;
  float: left;
}
#content p span {
  font-style: italic;
}
#home_body #page {
  background: url('images/bg.jpg') top center no-repeat;
}
#page {
  width: 960px;
  min-height: 400px;
  background: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 15px;
}
#page #post {
  margin-left: 200px;
  width: 675px;
  padding: 10px 10px 10px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 21px;
}
#header {
  position: relative;
  margin-top: 12px;
  text-align: center;
}
#header img#header_img {
  border: 0;
}
#header #email {
  float: left;
  margin-left: 120px;
}
#header #phone {
  float: right;
  margin-right: 120px;
}
#home_body .menu-main-navigation-container a:link,
#home_body .menu-main-navigation-container a:visited {
  color: black;
  text-decoration: none;
}
#home_body .menu-main-navigation-container a:hover {
  color: #545454;
}
.menu-main-navigation-container {
  text-align: center;
  /* 	.orders_btn {margin-left:100px;} */

  /* 	.locations_btn {margin-left:120px;} */

  /* 	.press_btn {margin-left:100px;} */

  /* 	.menu_btn {margin-left:200px;} */

}
.menu-main-navigation-container #menu-main-navigation {
  padding-left: 0px;
}
.menu-main-navigation-container li {
  padding: 0px 12px 0px 15px;
  font-size: 35px;
  margin-bottom: 15px;
  list-style: none;
  float: left;
  clear: left;
}
.menu-main-navigation-container li a:link,
.menu-main-navigation-container li a:visited {
  color: #545454;
  text-decoration: none;
}
.menu-main-navigation-container li a:hover {
  color: black;
}
.menu-main-navigation-container .current_page_item {
  color: black;
  padding-bottom: 0px;
}
.menu-main-navigation-container .current_page_item a:link,
.menu-main-navigation-container .current_page_item a:visited {
  color: black;
}
.menu-main-navigation-container .current_page_item a:hover {
  border-bottom: none;
}
.menu-main-navigation-container .about_btn {
  /* margin-left:200px; */
  margin-top: 35px;
}
#footer {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
#footer p {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}
#footer a:link,
#footer a:visited {
  color: black;
  text-decoration: underline;
}
#footer a:hover {
  text-decoration: none;
}
