/*
Theme Name: The Bagel Theme
Theme URI: http://sugermansbagels.com/
Description: sugermansbagels.com Theme
Version: 1.0
Author: CALIPER

*/

/* Begin Typography & Colors */

.uppercase { text-transform: uppercase; }
.italic {font-style: italic;}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

body {background: white;font-family: 'Oswald', sans-serif;}

#wrapper {margin: 0 auto;	padding: 0 50px 40px;	width: 960px;}


#content {
	width: 960px;
	float: left;
	p span {.italic;}
}

#home_body #page {background: url('images/bg.jpg') top center no-repeat;}

#page {
	width:960px;min-height:400px; background: none;border-bottom: 1px solid gray;border-top: 1px solid gray;padding-top:15px;
	#post {margin-left:200px;width:675px;padding:10px 10px 10px;font-family: Tahoma, sans-serif;font-size:14px;line-height: 21px;}
}

#header{ position: relative;margin-top:12px;text-align: center;
	img#header_img {border:0;}
	#email {float:left;margin-left:120px;}
	#phone {float:right;margin-right:120px;}
}

#home_body .menu-main-navigation-container {
	a:link, a:visited {color:black;text-decoration: none;}
	a:hover {color:#545454;}	
}

.menu-main-navigation-container {text-align: center;
	#menu-main-navigation {padding-left:0px;}
	li 	{padding: 0px 12px 0px 15px;font-size:35px;margin-bottom: 15px;
		list-style:none;
		float:left;clear:left;
		a:link, a:visited {color:#545454;text-decoration: none;}
		a:hover {color:black;}
	}
	.current_page_item {color:black;padding-bottom: 0px;
		a:link, a:visited {color:black;}
		a:hover{border-bottom: none;}
	}
	.about_btn {/* margin-left:200px; */margin-top:35px;}
/* 	.orders_btn {margin-left:100px;} */
/* 	.locations_btn {margin-left:120px;} */
/* 	.press_btn {margin-left:100px;} */
/* 	.menu_btn {margin-left:200px;} */
}


#footer {text-align: center;width:100%;font-size:20px;
	p {width:600px;text-align: center;margin:0 auto;}
	a:link, a:visited {color:black;text-decoration: underline;}
	a:hover {text-decoration: none;}
}
